html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica CE', 'Arial', sans-serif;
    font-size: 16px;
    color: #000000;
}

    body * {
        box-sizing: border-box;
    }

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
}

    h2 .groupName {
        text-decoration: underline;
    }

.main-container {
    font-size: 0;
    white-space: nowrap;
    background-color: #f7f7f7;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    min-width: 800px;
}

.navbar, .body-content {
    vertical-align: top;
    height: 100%;
    position: relative;
    display: inline-block;
    font-size: 16px;
    white-space: normal;
}

button {
    cursor: pointer;
    border: 0;
    transition: color .2s, background .2s;
    outline: none;
}

input[type="text"] {
    outline: none;
    transition: border .2s;
    border: 1px solid #bababa;
}

    input[type="text"]:focus {
        border-color: #4cacff;
    }

.input-text {
    display: block;
    width: 360px;
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
    color: #272727;
}
.input-text-Questions {
    display: block;
    width: 700px;
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
    color: #272727;
}

.body-content {
    display: inline-block;
    width: 80%;
    min-width: 1100px;
    min-height: 100vh;
    user-select: text;
    right: 0;
    top: 0;
    padding: 20px;
    overflow: auto;
}

.body-content__admin {
}

.main-container__default .body-content {
    width: 100%;
}

i.fa {
    margin-right: 10px;
    text-align: center;
}

.addNewItem-btn {
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4cacff;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    transition: color .2s, background .2s;
}

.addNewItem-btn:hover {
    background-color: #72beff;
}

.excel{
    text-align: right;
    padding-right: 225px;
    font-size: 0;
    margin-bottom: 20px;
}

.excel *{
    vertical-align: top;
    position: relative;
}

.excelUploadForm{
    display: inline-block;
}

.excel-btn {
    display: inline-block;
    text-align: left;
    background-color: #207347;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    transition: color .2s, background .2s;
    margin-right: 5px;
}

.excel-btn:hover {
    background-color: #039b03;
    color: #ffffff
}

.uploadExcel_btn_label input[type="file"] {
    display: none;
}
.uploadExcel_btn {
    font-size: 16px;
    background-color: #efa203;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    transition: color .2s, background .2s;
    cursor: pointer;
    margin: 0 5px;
    padding: 8.5px;
}

.uploadExcel_btn:hover {
    background-color: #feb319;
    color: #ffffff;
}

.saveFile-btn {
    display: inline-block;
    background-color: #31ac00;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    transition: color .2s, background .2s;
    margin: 0 5px;
}

    .saveFile-btn:hover {
    background-color: #3ed800;
        color: #ffffff
    }

.addAnsBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.addNewItem-btn i {
    margin-right: 5px;
}

.selectmenu {
    width: 100%;
    font-size: 16px;
}

.selectmenu_title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}

.form-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.loginBtn {
    width: 100%;
    padding: 15px 0;
    color: #ffffff;
    background-color: #4cacff;
    font-size: 24px;
    font-weight: bold;
}
