.statistics_moduleName{
    font-size: 24px;
    margin-bottom: 20px;
}

.question_progressbar{
  width: 58%;
  height: 30px;
  display: block;
  position: relative;
  border: 1px solid #000000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.progress{
  background-color: #0094ff;
  transition: .2s;
  width: 0;
  height: 100%;
  display: block;
  position: relative;
}

.question_title{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 18px;
  width: 40%;
  margin-right: 2%;
}