.statistics_moduleName{
    font-size: 24px;
    margin-bottom: 20px;
}

.question_progressbar{
  width: 58%;
  height: 30px;
  display: block;
  position: relative;
  border: 1px solid #000000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.progress{
  background-color: #0094ff;
  transition: .2s;
  width: 0;
  height: 100%;
  display: block;
  position: relative;
}

.question_title{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 18px;
  width: 40%;
  margin-right: 2%;
}

.stopModule{
    color: #ffffff;
    background-color: #de1414;
    border: 3px solid #de1414;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    transition: .3s;
    font-weight: 600;
}

.stopModule:hover{
    background-color: #ffffff;
    color: #de1414;
}

.statisticsItem{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #000000;
}

.disciplineName{
    font-size: 24px;
    font-weight: bold;
}

.lecture{
    padding: 10px 0;
    margin-left: 10px;
}

.lecture_name{
    font-size: 20px;
}

.lecture_date{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #0094ff;
    font-weight: bold;
    transition: background .2s;
}

.lecture_date:hover{
    background-color: #e0e0e0;
}

.chartsWrapper{
    text-align: center;
    font-size: 0;
}

.pieChart{
    display: inline-block;
    background-color: transparent;
    margin: 20px;
}