.ulStud {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

.liStud {
    float: left;
}

    .liStud a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .liStud span {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .liStud a:hover:not(.active) {
        background-color: #ea8400;
    }

.Studactive {
    background-color: #4CAF50;
}

