@font-face {
    font-family: 'fontAwesome';
    src: url('fontawesome-webfont.woff'); /* Путь к файлу со шрифтом */
   }

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica CE', 'Arial', sans-serif;
    font-size: 16px;
    color: #000000;
}

body *{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin-top: 0;
}

.main-container{
    font-size: 0;
    white-space: nowrap;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

button{
    cursor: pointer;
    border: 0;
    transition: color .2s, background .2s;
    outline: none;
}

input[type="text"]{
    outline: none;
    transition: border .2s;
    border: 1px solid #bababa;
}

input[type="text"]:focus{
    border-color: #4cacff;
}

.navbar, .body-content{
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 16px;
    white-space: normal;
}

.body-content{
    width: calc(100vw - 250px);
    min-height: 100vh;
    min-width: 710px;
    padding: 20px;
    user-select: text;
}

.navbar{
    background-color: #3d3d3d;
    width: 250px;
    height: 100vh;
}

.navbar i.fa{
    margin-right: 10px;
    width: 22px;
    text-align: center;
}

.navbar-nav a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: color .2s, background .2s;
}

.navbar-nav a:hover{
    background-color: #8d0404
}

.navbar-nav a.navbar-item_active{
    border-left: 5px solid #8d0404;
    padding-left: 15px;
}

.navbar-logo{
    color: #ffffff;
    text-decoration: none;
    margin: 30px 10px;
    display: inline-block;
    font-weight: bold;
    transition: color .2s, background .2s;
}

.navbar-logo:hover{
    color: #4cacff;
}

.addNewItem-btn{
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4cacff;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    transition: color .2s, background .2s;
}

.addNewItem-btn:hover{
    background-color: #72beff;
}

.addNewItem-btn i{
    margin-right: 5px;
}

.table{
    width: 100%;
    border: 1px solid #bababa;
    border-collapse: collapse;
    background-color: #ffffff;
}

.table.table__lectors .table-item_name_text:hover {
    color: #000000;
}

.table .table-header-row{
    line-height: 41px;
    background-color: #818181;
    color: #ffffff;
}

.table .table-header-row:hover{
    background-color: #818181;
}

.table-header-row .table-header{
    padding: 0 15px;
}

.table-header-row .table-header_name{
    text-align: left;
}

.table-row{
    transition: background .2s;
    padding: 30px 0;
}

.table-row:hover{
    background-color: #f2f2f2;
}

.table-item{
    padding: 10px 15px;
}

.table-item_name{
    padding-left: 15px;
}

.table .table-item_name_text{
    color: #000000;
    text-decoration: none;
    transition: color .2s;
}

.table .table-item_name_text:hover{
    color: #4cacff;
}

.table-edit-button, .table-remove-button{
    user-select: none;
    cursor: pointer;
    display: inline-block;
}

.table-item_edit{
    text-align: right;
    font-size: 16px;
    text-align: center;
    user-select: none;
    width: 310px;
    white-space: nowrap;
}

.table-item_edit .table-button {
    transition: background .2s, color .2s;
    padding: 5px 10px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 0 6px;
    background-color: #ffffff;
}

.table-item_edit .table-button i{
    margin-right: 10px;
}

.table-item_edit .table-edit-button{
    color: #099fc1;
}

.table-item_edit .table-edit-button:hover{
    background-color: #099fc1; 
    color: #ffffff;
}

.table-item_edit .table-remove-button{
    color: #e50d0d;
}

.table-item_edit .table-remove-button:hover{
    background-color: #e50d0d; 
    color: #ffffff;
}



.popup{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    user-select: none;
}

.popup.popup-active{
    opacity: 1;
    visibility: visible;
}

.popup .popup-body{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,.3);
}

.popup .popup-content{
    font-size: 0;
    white-space: nowrap;
}

.popup:before{
    content: '';
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.popup-title{
    font-size: 24px;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
}

.popup-title span{
    font-weight: bold;
    color: #e43100
}

.popup .input-text{
    display: block;
    width: 360px;
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
    color: #272727;
}

.popup .popup-btn{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 40px;
    width: 170px;
}

.popup .popup-save-btn{
    background-color: #31ac00;
}

.popup .popup-save-btn:hover{
    background-color: #3cd300;
}

.popup .popup-create-btn{
    background-color: #4cacff;
}

.popup .popup-create-btn:hover{
    background-color: #7ac1ff;
}

.popup .popup-cancel-btn{
    background-color: #606060;
    margin-left: 20px;
}

.popup .popup-cancel-btn:hover{
    background-color: #868686;
}

.popup .popup-remove-btn{
    background-color: #ff0000;
}

.popup .popup-remove-btn:hover{
    background-color: #ff3737;
}