@model IEnumerable<TestingModule.Models.Discipline>

@{
    ViewBag.Title = "Disciplines";
}

<h2>Дисципліни</h2>
<table border="1">
    <tr><th>Назва</th><th>Дії</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="disciplines/@item.Id/lectures">@item.Name</a></td>
            <td><a href="EditDiscipline">Редагувати</a>/<a href="Disciplines/@item.Id/delete">Видалити</a></td>
        </tr>
    }
</table>

<h3>Створити нову?</h3>
@using (Html.BeginForm("NewDiscipline", "Admin", FormMethod.Post))
{
    <form>
        <div>
            Введіть назву дисципліни:
            @{
                var name = Model.LastOrDefault();
            }
            @if (name == null)
            {
                @Html.TextBoxFor(model => model.LastOrDefault().Name, new { @class = "form - control" })
            }
            else
            {
                @Html.TextBoxFor(model => model.LastOrDefault().Name, name.Name = "", new { @class = "form - control" })
            }
        </div>
        <div>
            <button type="submit">Створити</button>
        </div>
    </form>
}