@{
    ViewBag.Title = "Домашня сторінка";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Request.IsAuthenticated)
{

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Welcome!
                    </h1>
                    <h2>
                        Site will be able to test in
                    </h2>
                    <div class="error-details">
                        <p id="demo"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Timer.js")
}