@{
    ViewBag.Title = "Домашня сторінка";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Request.IsAuthenticated)
{
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
            padding: 0 !important;
        }

        .bgimg {
            background-image: url('../../Content/classRoom.jpeg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
            padding: 0;
        }
    </style>
    <body>

        @*@{
        DateTime daysLeft = DateTime.Parse("08/15/2017 12:00:01 PM");
        DateTime startDate = DateTime.Now;

        //Calculate countdown timer.
        TimeSpan t = daysLeft - startDate;
        string countDown = string.Format("{0} Days til demo.", t.Days);
    }
    @if (startDate > daysLeft)
    {
        <h1 class="w3-jumbo w3-animate-top">Welcome</h1>
    }
    else
    {
        <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
        <hr class="w3-border-grey" style="margin: auto; width: 40%">

        <p class="w3-large w3-center">@countDown</p>
        <p class="w3-small w3-center">Btw, need to remove padding:20px from this page :)</p>
    }*@

    </body>

                    }