@model IEnumerable<TestingModule.Models.Lecture>

@{
    ViewBag.Title = "Lectures";
}

<h2>Лекції</h2>
@if (!Model.Any())
{
    <h3>Немає жодної лекції...</h3>
}
else
{
    <table border="1">
        <tr><th>Назва</th><th>Дії</th></tr>


        @foreach (var item in Model)
        {
            <tr>
                <td><a href="lectures/@item.Id/modules">@item.Name</a></td>
                <td><a href="EditLecture">Редагувати</a>/<a href="lectures/@item.Id/Delete">Видалити</a></td>
            </tr>
        }


    </table>
}
<hr>

<h3>Створити нову?</h3>
@using (Html.BeginForm("NewLecture", "Admin", FormMethod.Post))
{
    <form>
        <div>
            Введіть назву лекції:
            @Html.TextBoxFor(model => model.LastOrDefault().Name)
        </div>
        @Html.HiddenFor(model => model.LastOrDefault().Id)
        @Html.HiddenFor(model => model.LastOrDefault().DisciplineId)
        <div>
            <button type="submit">Створити</button>
        </div>
    </form>
}