
@{
    ViewBag.Title = "Lectors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lectors</h2>
<img src="http://3.bp.blogspot.com/-Ro0PTXE7HPY/VikwKjknG0I/AAAAAAAAIkM/er91u1b2VFk/s1600/tumblr_mx5304yT7R1rd1o3bo1_500.png">
