@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "Модулі";
    Layout = "~/Views/Shared/_Layoutstudent.cshtml";
}


@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}


@if (!Model.Modules.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Отакої!
                    </h1>
                    <h2>
                        Немає жодного модуля...
                    </h2>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="lecture-name">Лекція: <span>«@Model.Lectures.FirstOrDefault(t => t.Id == Model.Modules.FirstOrDefault().LectureId).Name»</span></h1>

        foreach (var item in Model.Modules.OrderBy(t => t.Name))
        {
            <h2 class="module-name">Модуль: <span>«@item.Name»</span></h2>
        if (item.Description != null)
        {
            <div class="student-module-description">@Html.Raw(item.Description)</div>
        }
        else
        {
            <div>Немає матеріалів лекції...</div>
        }
            <hr>
        }

}
