@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "login-form" }))
    {
    @Html.AntiForgeryToken()

    @*@Html.ActionLink(User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@

   <div class="login-greeting">Вітаю, <a class="login-greeting_name" href="@Url.Action("Index","Manage")">@User.Identity.Name</a>!</div>

    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Вийти</a>

    }
}
else
{
    @*@Html.ActionLink("Log in", "Login", "Account")*@
    <a href="@Url.Action("Log in", "Login", "Account")"><i class="fa fa-sign-in" aria-hidden="true"></i>Увійти</a>
}
