
@{
    ViewBag.Title = "HistoryStatistics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>HistoryStatistics</h2>

@model  TestingModule.ViewModels.ResponseStatisticsViewModel

<div class="chartsWrapper">

</div>

@section scripts{


    <script>
        var historyStatisticsModel = @Html.Raw(Json.Encode(@Model));
        console.log(historyStatisticsModel);
    </script>
}