@model TestingModule.ViewModels.QuizViewModel
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<table>
    <tr>
        <th>@Model.Question.Text</th>
    </tr>
    @foreach (var answer in Model.Answers)
    {
        <tr>
            <td>
                @answer.Text
            </td>
        </tr>
    }
    
</table>

<scrypt>
    function init()
</scrypt>