@model TestingModule.ViewModels.QuizViewModel
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <th>@Model.Question.Text</th>
    </tr>
    @foreach (var answer in Model.Answers)
    {
        <tr>
            <td>
                @answer.Text
    </td>
</tr>
    }
    <p>@Model.Student.Name</p>
    @foreach (var question in Model.QuestionsList)
    {
        <span>@question.Text</span>
    }

    @*<div id="bodyContainer"></div>

        <script type="text/x-handlebars" id="index">
            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="flip-container text-center col-md-12">
                            <div {{bindAttr class=":back question.answered:flip answer" }}>
                                <p class="lead">
                                    {{answer}}
                                </p>
                                <p>
                                    <button class="btn btn-info btn-lg next option" {{action "nextQuestion" option}}>Next Question</button>
                                </p>
                            </div>
                            <div {{bindAttr class=":front question.answered:flip" }}>
                                <p class="lead">
                                    {{question.title}}
                                </p>
                                <div class="row text-center">
                                    {{#each option in question.options}}
                                    <button class="btn btn-info btn-lg option" {{action "sendAnswer" question option}}>{{option.title}}</button>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </script>*@
