@model TestingModule.ViewModels.IndividualQuizViewModel
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div id="timer"></div>

<div class="questionBlock">
    <div class="question" data-questionid=""></div>

    <div class="answers">
    </div>

    <button id="nextIndividualQuestion" class="nextQuestion">Далі</button>
</div>

@Html.Hidden("qModel", @Html.Raw(Json.Encode(Model)))
