@model TestingModule.ViewModels.RealTimeStatisticsViewModel
@{
    ViewBag.Title = "ModuleStatistics";
    Layout = "~/Views/Shared/_LayoutStatistics.cshtml";
}

<div class="statistics_moduleName">Викторина "в реальном времени"</div>

<div id="timer"></div>

<div class="questions"></div>

@Html.Hidden("statisticsModel", @Html.Raw(Json.Encode(Model)))


