@model IEnumerable<TestingModule.Models.Question>
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_LayoutStatistics.cshtml";
}

<div class="questions">

</div>

@*<div class="question" data-qnum="0">
    <span class="question_title">1</span>
    <div class="question_progressbar">
        <div class="progress"></div>
    </div>
</div>*@

@*<div id="chartContainer" style="height: 360px; width: 100%;"></div>*@

<script>
    var statisticsModel = @Html.Raw(Json.Encode(@Model));
</script>